<h2>Products Listing</h2>
<% if (allrecs.length > 0) {%>
    <table border="1">
        <tr>
            <th>ProductID</th>
            <th>Type</th>
            <th>Size</th>
            <th>Material</th>
            <th>Condition</th>
            <th>Brand</th>
            <th>Price</th>
        </tr>
    <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.product_id %></td>
            <td><%= recref.product_type %></td>
            <td><%= recref.product_size %></td>
            <td><%= recref.product_material %></td>
            <td><%= recref.product_condition %></td>
            <td><%= recref.product_brand %></td>
            <td><%= recref.product_price %></td>
        </tr>
    <% }); %>
        </table>
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>