<% var totprice = 0 %>
<% var totqty = 0 %>
<% var lineitemcost = 0 %>
<% if (cartitems != '0') {%>
<p> Here products selected in your cart: </p>
    <table border=1>
        <tr>
<th>ID</th>
<th>Type</th>
<th>Size</th>
<th>Material</th>
<th>Condition</th>
<th>Brand</th>
<th>Price</th>
<th>Quantity</th>
<th>Line Cost</th>
<th>Action</th>
</tr>
<% cartitems.forEach((item, index) => { %>
<tr>
    <td><%= item.product_id %></td>
    <td><%= item.product_type %></td>
    <td><%= item.product_size %></td>
    <td><%= item.product_material %></td>
    <td><%= item.product_condition %></td>
    <td><%= item.product_brand %></td>
    <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(item.product_price) %></td>
    <% totqty = totqty + parseInt(qtys[index]) %>
    <% lineitemcost = item.product_price * parseInt(qtys[index]) %>
    <td><%= qtys[index] %> </td>
    <td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(lineitemcost) %> </td>
    <% totprice = totprice + lineitemcost %>
<td>
<form action="/catalog/remove" method="post" >
<input type="hidden" name="product_id" value=<%= item.product_id %> >
<button type="submit">Remove</button>
</form>
</td>
</tr>
<% }); %>
<tr bgcolor= '#264653'>
<td colspan="7"><b>Totals</b></td>
<td><%= totqty %></td>
<td><%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(totprice) %></td>
<td><button class='button1' onclick="window.location.href='/catalog/checkout'">Checkout</button></td>
</tr>
</table>
<% } else { %>
<p>Cart Is Empty</p>
<% } %>