<% if (allrecs.length > 0) {%>
    <% allrecs.forEach((recref, index) => { %>
        <product>
            <form action="/catalog/add" method="post" >
            <input type="hidden" name="product_id" value=<%= recref.product_id %> >
        <table>
            <tr> <td><%= recref.product_id %></td><td><%= recref.product_type %></td></tr>
            <tr> <td colspan="2"><%= recref.product_size %></td></tr>
            <tr> <td colspan="2"><%= recref.product_material %></td></tr>
            <tr> <td><%= recref.product_condition %></td> <td><%= recref.product_brand %></td></tr>
            <tr> <td><%= recref.product_price %></td>
                 <td><a href='/product/<%= recref.product_id %>/show'>Details</a></td>
            </tr>
            <tr>
                <td>Quantity: <input type="number" name="qty" required></td>
                <td><button type="submit">Add to Cart</button></td>
            </tr>
        </table>
            </form>
        </product>
    <% }); %>
    <% } %>